/.idea/
/.DS_Store/
.DS_Store
/calculator-web/bin/
/calculator-web/obj/
/calculator-web/publish/
/calculator-web/src/bin/
/calculator-web/src/obj/
/calculator-web/src/test-results/
/calculator-web/src/node_modules/
**/node_modules/